<h1 class="emoji-graphic-selector__header">Choose a Graphic</h1>

<KeyboardMenu
  class="emoji-graphic-selector__list"
  @keyboardPriority="1"
  @options={{this.emojiList}}
  @selectAction={{action this.graphicSelectAction}}
  @cancelAction={{action this.cancelAction}}
  as |currentIndex select|>
  {{#each this.emojiList as |emoji index|}}
    <li role="button" class="emoji-graphic-selector__item {{if (eq index currentIndex) "focus"}}"
      {{action select index}}>
      <div class="emoji emojione emojione-{{emoji.unicode}}"></div>
    </li>
  {{/each}}
</KeyboardMenu>