<h1 class="font-selector__heading">Choose a Font</h1>
<div class="font-selector__list">
  <KeyboardMenu
    class="font-selector__menu"
    @keyboardPriority="1"
    @options={{this.fonts}}
    @selectAction={{action this.fontSelectAction}}
    @cancelAction={{action this.menuCancelAction}}
    as |currentIndex select|>
    {{#each this.fonts as |font index|}}
      <li class="font-selector__item {{if (eq index currentIndex) "focus"}} {{class-for "font" font}}"
      role="menuitem"
      tabindex="-1"
      {{action select index}}>
        {{font}}
      </li>
    {{/each}}
  </KeyboardMenu>
</div>