<div class="text {{class-for "font" this.font}}">
  {{#each this.text as |text index|}}
    <FancyText
      @text={{text}}
      @index={{index}}
      @editing={{this.active}}
      @activeCol={{this.activeCol}}
      @active={{and (eq index this.activeRow) this.active}}
      @updateText={{action this.updateText}}
      @select={{action "selectItem"}}
    />
  {{/each}}
</div>