{{#if this.editing}}
  <button
    class="fancytext-alignbutton {{if (and this.active (eq this.activeCol 0)) "focus"}}"
    tabindex="-1"
    {{action "toggleFontAlign"}}>
    {{this.text.align}}
  </button>
  <button
    class="fancytext-sizebutton {{if (and this.active (eq this.activeCol 1)) "focus"}}"
    tabindex="-1"
    {{action "toggleFontSize"}}>
    {{this.text.size}}
  </button>
  <input
    type="text"
    class="fancytext-input {{if (and this.active (eq this.activeCol 2)) "focus"}}"
    tabindex="-1"
    value={{this.text.contents}}
    onchange={{action "change"}}
    {{action "selectTextInput"}}
    >
{{else}}
  <svg width="100%"
    title={{this.text.contents}}
    class={{concat "fancytext-outer"}}>
    <text class="fancytext-back" x={{this.textAnchorX}} y={{this.textAnchorY}}>
      {{this.text.contents}}
    </text>
    <text class="fancytext-middle" x={{this.textAnchorX}} y={{this.textAnchorY}}>
      {{this.text.contents}}
    </text>
    <text class="fancytext-front" x={{this.textAnchorX}} y={{this.textAnchorY}}>
      {{this.text.contents}}
    </text>
  </svg>
{{/if}}