{{#each this.graphics as |graphic index|}}
  <div class="graphic {{class-for "graphic" this.size}} i{{index}}">
    <DitheredImage
      @width={{this.graphicSize}}
      @height={{this.graphicSize}}
      @src={{this.graphicUrl}}
      @ditherMethod="sierra"
      @enabled={{this.enabled}}
    />
  </div>
{{/each}}


<TextZone
  @active={{eq this.editMode "text"}}
  @font={{this.font}}
  @text={{this.data.text}}
  @updateText={{action this.updateText}}
  @doneEditing={{action this.doneEditing}}
/>