<h1>Card Creator: {{selectedFace}}</h1>
<h2 class="help">{{helpText}}</h2>

<div class="main">
  {{#unless editMode}}
    {{main-menu
      selectAction=(action "mainmenuSelect")
      selectedFace=selectedFace}}
  {{/unless}}
  <div class="container">
    <div class="page">
      {{card-face
        class="cardface--front"
        data=frontData
        isSelected=(eq selectedFace "front")
        editMode=editMode
        updateText=(action "setText")
        doneEditing=(action "endEditMode")}}
      {{card-face
        class="cardface--inside"
        data=insideData
        isSelected=(eq selectedFace "inside")
        editMode=editMode
        updateText=(action "setText")
        doneEditing=(action "endEditMode")}}
    </div>
  </div>
</div>

{{#if (eq openModal "border-selector")}}
  <div class="modal">
    {{border-selector borders=borders borderSelectAction=(action "setBorder") menuCancelAction=(action "closeModal")}}
  </div>
{{/if}}

{{#if (eq openModal "emoji-selector")}}
  <div class="modal">
    {{emoji-selector emojiSelectAction=(action "setEmoji") menuCancelAction=(action "closeModal")}}
  </div>
{{/if}}

{{#if (eq openModal "font-selector")}}
  <div class="modal">
    {{font-selector fonts=fonts fontSelectAction=(action "setFont") menuCancelAction=(action "closeModal")}}
  </div>
{{/if}}