<h1>Card Creator: {{this.selectedFace}}</h1>
<h2 class="help">{{this.helpText}}</h2>

<div class="main">
  {{#unless this.editMode}}
    <MainMenu
      @selectAction={{action "mainmenuSelect"}}
      @selectedFace={{this.selectedFace}}
    />
  {{/unless}}
  <div class="container">
    <div class="page">
      <CardFace
        class="cardface--front"
        @data={{this.frontData}}
        @isSelected={{eq this.selectedFace "front"}}
        @editMode={{this.editMode}}
        @updateText={{action "setText"}}
        @doneEditing={{action "endEditMode"}}
      />
      <CardFace
        class="cardface--inside"
        @data={{this.insideData}}
        @isSelected={{eq this.selectedFace "inside"}}
        @editMode={{this.editMode}}
        @updateText={{action "setText"}}
        @doneEditing={{action "endEditMode"}}
      />
    </div>
  </div>
</div>

{{#if (eq this.openModal "border-selector")}}
  <div class="modal">
    <BorderSelector
      @borders={{this.borders}}
      @borderSelectAction={{action "setBorder"}}
      @menuCancelAction={{action "closeModal"}}
    />
  </div>
{{/if}}

{{#if (eq this.openModal "emoji-selector")}}
  <div class="modal">
    <EmojiSelector
      @emojiSelectAction={{action "setEmoji"}}
      @menuCancelAction={{action "closeModal"}}
    />
  </div>
{{/if}}

{{#if (eq this.openModal "font-selector")}}
  <div class="modal">
    <FontSelector
      @fonts={{this.fonts}}
      @fontSelectAction={{action "setFont"}}
      @menuCancelAction={{action "closeModal"}}
    />
  </div>
{{/if}}