<h1 class="border-selector__heading">Choose a Border</h1>
<div class="border-selector__list">
  <KeyboardMenu
    class="border-selector__menu"
    @keyboardPriority="1"
    @options={{this.borders}}
    @selectAction={{action this.borderSelectAction}}
    @cancelAction={{action this.menuCancelAction}}
    as |currentIndex select|>
    {{#each this.borders as |border index|}}
      <li role="button" class="border-selector__item {{if (eq index currentIndex) "focus"}} {{class-for "border" border}}"
      {{action (action select border)}}>
        {{border}}
      </li>
    {{/each}}
  </KeyboardMenu>
</div>